<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Series!{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Series!</h1>
        <nav>
            <ul>
                <li><a href="#" title="home"> home</a></li>
                <li><a href="#" title="test"> test</a></li>

            </ul>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <p>{{ "now"|date("Y") }}</p>
    </footer>


</body>
</html>