<nav>
    <ul>
        <li><a href="{{ path('main_home ') }}" title="home"> Home</a></li>
        <li><a href="{{ path('main_test ') }}" title="test"> test</a></li>
        <li><a href="{{ path('serie_serie_list ') }}" title="all series"> series</a></li>
        <li><a href="{{ path('serie_create ') }}" title="create a new series"> create</a></li>

    </ul>

</nav>